doctype
html
	head
		//- Generic Meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		//- These require variables to be set
		meta(name='author', content=author)
		meta(name='keywords', content=keywords)
		meta(name='description', content=description)
		//- This should be updated as we develop for enhanced security
		meta(http-equiv='Content-Security-Policy', content=contentSecurityPolicy)
		//- Default Page Title
		title #{title}
		//- Option to embed extra content in future
		block head
		//- Inline styles if there are any
		if css
			style
				!= css
	body
		div(id='react-root',class='react-root')
			!= markup
		script(src=commonSrc)
		script(src=mainSrc)
